<div class="container">
  <div class="col-md-12">
      <br>
      <button class="btn btn-success" (click)='function_mostar(1)'>
        cobros disponibles
      </button>
      
      <button class="btn btn-success" (click)='function_mostar(2)'>
        Nuevo Cobro
      </button>


  </div>  
<br>



    <div class="row col-md-12" *ngIf='cobro_disponible == true'>
        <h5>cobros disponibles</h5>
            <hr>
        <table class="table">
          <tr>
            <th>Orden</th>
            <th>nombre</th>
            <th>cantidad cobro</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
          <tr *ngFor='let pagos of load_data.pagos; let i = index'>
            <td>{{i+1}}</td>
            <td>{{pagos.com_nombre_pago}}</td>
            <td>{{pagos.cantidad_pago}}</td>
            <td><button class="btn btn-info" data-toggle="modal" data-target=".bd_cobros" (click)='function_cobro_nuevo(pagos.id_pagos, pagos.com_nombre_pago, pagos.cantidad_pago)'>Actualizar</button></td>
            <td><button class="btn btn-danger" data-toggle="modal" data-target=".bd_Eliminarcobros">Eliminar</button></td>
          </tr>
        </table>
    </div>

  <!--nuevo cobro-->  
  <div  *ngIf='nuevo_cobro == true'>
    <form action="" #add_pagos='ngForm' (ngSubmit)='function_save(add_pagos)'>
      <div class="row">
        <div class="col-md-12">
            <h5>Cobro Nuevo</h5>     
            <hr>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Nombre</span>
              <input type="text" class="form-control" placeholder="Ingrese el Nombre del cobro" aria-describedby="basic-addon1" name='pago' ngModel required>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Q.</span>
              <input type="number" class="form-control" min="0" required name="costo" ngModel>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" *ngIf='bool_save == true'>
                <strong>Error. </strong> debe agregar un nombre y un costo
            </div>
            <button class="btn btn-success">
              Agregar Cobro
            </button>
        </div>
      </div>
    </form>

    <br><br>  
  </div>

<br><br>
</div>







<!--Modal para cobros-->
<div class="modal fade bd_cobros" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Realizar Cobros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Nombre del Cobro</span>
                  <input type="text" value={{nombre_pago}} class="form-control" placeholder="Nombre del cobro" aria-describedby="basic-addon1" #pago>
                </div>
                  <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Cantidad Cobro</span>
                  <input type="text" value={{cantidad_pago}} class="form-control"  aria-describedby="basic-addon1" name='costo' ngModel #cobro>
                </div>
                <br>
                <div *ngIf='bool_save == true'>
                  no save
                </div>
                <button class="btn btn-success" (click)='function_update(pago, cobro)'>
                  Actualizar
                </button>
        
                <button class="btn btn-danger" data-dismiss="modal">
                  cancelar
                </button>

        </div>

    </div>
  </div>
</div>




<!---Eliminar Cobros-->
<div class="modal fade bd_Eliminarcobros" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Cobros</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Nombre del Cobro</span>
                  <input type="text" class="form-control" placeholder="Nombre del cobro" aria-describedby="basic-addon1" disabled>
                </div>
                  <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Cantidad Cobro</span>
                  <input type="text" class="form-control" placeholder="100.00" aria-describedby="basic-addon1" disabled>
                </div>
                <br>
                <button class="btn btn-success">
                  Eliminar
                </button>
        
                <button class="btn btn-danger" data-dismiss="modal">
                  cancelar
                </button>
          </div>
  
      </div>
    </div>
  </div>