<div class="ver">
  <div class="contenedor-form">
    <div class="contenedor-img">
      imagen aqui 
    </div>
      <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input  type="text" class="validate" placeholder="Usuario">
              </div>
            </div>
      
            <div class="row">
              <div class="input-field col s12">
                <input  type="password" class="validate" placeholder="Contraseña">
              </div>
            </div>
          </form>
        </div>
  </div>
</div>