<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['./index']">Inicio</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <a class="nav-link" [routerLink]="['./notas']" >Notas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['./alumnos']" >Alumnos</a>
            </li>

            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuracion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['./ciclo']" >Ciclo Escolar</a>
                <a class="dropdown-item" [routerLink]="['./cursos']">Cursos</a>
                <a class="dropdown-item" [routerLink]="['./personal']" >Personal</a>
                <a class="dropdown-item" [routerLink]="['./pagos']">Pagos</a>
                </div>
            </li>

            <li class="nav-item dropdown usuario_left">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nombre_profesor}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" (click)='function_salir()'>Salir</a>
                </div>
            </li>

          </ul>
        </div>
      </nav>
