<div class="container">

  <button class="btn btn-success" (click)='function_view_button(1)'>
    Ver todo el personal
  </button>
  <button class="btn btn-success" (click)='function_view_button(2)'>
    catedraticos
  </button>
  <button class="btn btn-success" (click)='function_view_button(3)'>
      Agregar Personal
    </button>
<br>
<br>

<!-- para agregar a nuevos personal-->
<div *ngIf='bool_add_personal == true'>

  <form #add_personal='ngForm' (ngSubmit)='function_save(add_personal)' >

    <div class="row">
        <!--Para Nombres-->
        <div class="col-md-4">
            <label><b>Primer Nombre</b></label>
            <input type="text" class="form-control" name="pnombre" ngModel>
          </div>

          <div class="col-md-4">
            <label><b>Segundo Nombre</b></label>
            <input type="text" class="form-control" name="snombre" ngModel>
          </div>

          <div class="col-md-4">
            <label><b>Tercer Nombre</b></label>
            <input type="text" class="form-control" name="tnombre" ngModel>
          </div>
          <br>
        <!--Para Apellidos-->
          <div class="col-md-4">
            <label><b>Primer Apellido</b></label>
            <input type="text" class="form-control" name="papellido" ngModel> 
          </div>

          <div class="col-md-4">
            <label><b>Segundo Apellido</b></label>
            <input type="text" class="form-control" name="sapellido" ngModel>
          </div>

          <div class="col-md-4">
            <label><b>Tercer Apellido</b></label>
            <input type="text" class="form-control" name="tapellido" ngModel>
          </div>
        <!--Edad--->
          <div class="col-md-4">
            <label><b>Edad</b></label>
            <input type="text" class="form-control" name="edad" ngModel>
          </div>
        <!--Telefono Celular--->
          <div class="col-md-4">
            <label><b>Telefono Celular</b></label>
            <input type="text" class="form-control" name="tcelular" ngModel>
          </div>
        <!--Telefono Domiciliar--->
          <div class="col-md-4">
            <label><b>Telefono Domiciliar</b></label>
            <input type="text" class="form-control" name="tdomiciliar" ngModel>
          </div>
        <!--Telefono Domiciliar--->
          <div class="col-md-4">
            <label><b>Estado</b></label><br>
            <select name="" id="" class="form-control" (change)='function_select_estado(estado.value)' #estado>
              <option value="0">Seleccione</option>
              <option value="1">Activo</option>
              <option value="2">Inactivo</option>
            </select>
          </div>
        <!--Telefono Domiciliar--->
          <div class="col-md-4">
            <label><b>Cargo</b></label><br>
            <select name="" id="" class="form-control" (change)='function_select_cargo(cargo.value)' #cargo>
              <option value="0">Seleccione</option>
              <option value="1">cargo1</option>
              <option value="2">cargo 2</option>
            </select>
          </div>


    </div>
    <br><br>
    <button class="btn btn-success"> 
        Agregar
      </button>
      <button class="btn btn-danger">
        cancelar
      </button>
  </form>
</div>


  <!--observar a todo el personal disponible siempre y cuanto este este activo-->
  <div *ngIf='bool_ver_personal == true'> 
    <table class="table" *ngIf='bool_update == false'>
      <tr>

        <th>
          Nombre
        </th>
        <th>
          telefono celular
        </th>
        <th>
          telefono de casa 
        </th>
        <th>Cargo</th>
        <th>Actualizar</th>
        <th>Desactivar</th>
      </tr>
      <tr *ngFor='let personal of load_data.profesor'>
        <td>{{personal.pnombre}} {{personal.snombre}} {{personal.tnombre}} {{personal.papellido}} {{personal.sapellido}} {{personal.tapellido}} </td>
        <td>{{personal.celular}}</td>
        <td>{{personal.domiciliar}}</td>
        <td>{{personal.cargo}}</td>
        <td><button class="btn btn-success" (click)='function_obtener_id(personal.id)'>Actualizar</button></td>
        <td><button class="btn btn-danger" (click)='function_desactivar_usuario(personal.id)'>Desactivar</button></td>
      </tr>
    </table>

    <!--para actualizar los datos-->
    <div *ngIf='bool_update == true'>

      <h4>actualizar datos</h4>
      <hr>
        <form>
            <div class="row">
                <!--Para Nombres-->
                <div class="col-md-4">
                    <label><b>Primer Nombre</b></label>
                    <input type="text" class="form-control" value={{load_data_update.profesor.com_primer_nombre}} placeholder={{load_data_update.com_primer_nombre}}>
                  </div>
        
                  <div class="col-md-4">
                    <label><b>Segundo Nombre</b></label>
                    <input type="text" class="form-control">
                  </div>
        
                  <div class="col-md-4">
                    <label><b>Tercer Nombre</b></label>
                    <input type="text" class="form-control">
                  </div>
                  <br>
                <!--Para Apellidos-->
                  <div class="col-md-4">
                    <label><b>Primer Apellido</b></label>
                    <input type="text" class="form-control">
                  </div>
        
                  <div class="col-md-4">
                    <label><b>Segundo Apellido</b></label>
                    <input type="text" class="form-control">
                  </div>
        
                  <div class="col-md-4">
                    <label><b>Tercer Apellido</b></label>
                    <input type="text" class="form-control">
                  </div>
                <!--Edad--->
                  <div class="col-md-4">
                    <label><b>Edad</b></label>
                    <input type="text" class="form-control">
                  </div>
                <!--Telefono Celular--->
                  <div class="col-md-4">
                    <label><b>Edad</b></label>
                    <input type="text" class="form-control">
                  </div>
                <!--Telefono Domiciliar--->
                  <div class="col-md-4">
                    <label><b>Edad</b></label>
                    <input type="text" class="form-control">
                  </div>
                <!--Telefono Domiciliar--->
                  <div class="col-md-4">
                    <label><b>Estado</b></label><br>
                    <select name="" id="" class="form-control">
                      <option value="0">Seleccione</option>
                      <option value="1">Activo</option>
                      <option value="2">Inactivo</option>
                    </select>
                  </div>
                <!--Telefono Domiciliar--->
                  <div class="col-md-4">
                    <label><b>Cargo</b></label><br>
                    <select name="" id="" class="form-control">
                      <option value="0">Seleccione</option>
                      <option value="1">Activo</option>
                      <option value="2">Inactivo</option>
                    </select>
                  </div>
            </div>
            <br>
            <button class="btn btn-success">
              actualizar
            </button>
            <button class="btn btn-danger">
              cancelar
            </button>
          </form>
      

    </div>
  </div>

  <!--Solamente Personal Docente el cual se le asignara el curso respectivo-->
  <div *ngIf='profesores == true' >
  <table class="table">
      <tr>
        <th>nombre</th>
        <th>direccion</th>
        <th>telefono</th>
        <th>cargo</th>
        <th>asignar curso</th>
      </tr>
      <tr>
        <td>nombre</td>
        <td>direccion</td>
        <td>telefono</td>
        <td>cargo</td>
        <td><button class="btn btn-success">asignar cursos</button></td>
      </tr>
  </table>

  </div>
</div>